* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    max-width: 100%;
}


/*Navbar*/
.link-colors{
color: yellowgreen;
background-color: darkblue;
border-radius: 20vw;
font-family: 'Nabla', cursive;
}

.link-colors-drop{
color: yellowgreen;
background-color: darkblue;
border-radius: 15vw;
width: 97%;
font-family: 'Nabla', cursive;
}

.link-colors:hover,
.link-colors-drop:hover {
color: yellowgreen;
background-color: darkblue;
border-radius: 20vw;
}

.link-colors:active,
.link-colors-drop:active {
color: yellowgreen;
background-color: darkblue;
border-radius: 20vw;
}

.link-colors:focus,
.link-colors-drop:focus {
color: yellowgreen;
background-color: darkblue;
border-radius: 20vw;
}

.drop-down{
border: none;
}

#button-toggler {
    color: darkblue;
}

/*Logo*/
#logo{
color: darkblue;
width: 50%;
}

@media (max-width: 767px) {
    #logo{
        width: 27%;
        }
}

@media (min-width: 768px) and (max-width: 991px) {
    #logo{
        width: 30%;
        }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #logo{
        width: 90%;
        }
}
/*Fine Logo*/

/*Fine Navbar*/


/*Header Homepage*/
.homepage{
background-image: url(/public/media/sfondohomepage.jpg);
height: 80vh;
background-size: cover;
background-position: center;
}

.titolo{
font-family: 'Nabla', cursive;
font-size: 380%;
}
/*Fine Header Homepage*/


/*Header Carica Nintendo*/
.load-game{
background-image: url(/public/media/sfondocreate.jpg);
height: 70vh;
background-size: cover;
background-position: center;
}
/*Fine Header Carica Nintendo*/


/*Section Form Carica Nintendo*/
.loading{
background-color: darkblue;
border: 6px solid red;
box-shadow: 5px 5px 5px 5px yellow;
}

.loading-write{
font-family: 'Tourney', cursive;
}
/*Section Fine Form Carica Nintendo*/


/*Indice Nintendo*/
.custom-img{
object-fit: cover;
height: 100%;
}

.card-custom{
background-color: darkblue;
border: 3px solid red;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.custom-title{
font-family: 'Tourney', cursive;
}

.background-index{
background-image: url(/public/media/sfondoindex.jpg);
height: 80vh;
background-size: cover;
background-position: center;
}
/*Fine Indice Nintendo*/


/*Dettaglio Nintendo*/
.border-card{
    border: 4px solid red;
    box-shadow: 5px 5px 5px 5px darkblue;
}
/*Fine Dettaglio Videogioco*/


/*Modifica Nintendo*/
.background-modifier{
    background-image: url(/public/media/sfondoedit.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/*Fine Modifica Nintendo*/


/*Bottone Elimina*/
.custom-button{
    width: 100%;
}
/*Fine Bottone Elimina*/


/*Registrazione*/
.background-register{
    background-image: url(/public/media/sfondoregistrati.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

@media (max-width: 480px) {
    .background-register {
        height: 100%;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .background-register {
        height: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .background-register {
        height: 1040px;
    }
}

/*Fine Registrazione*/


/*Accedi*/

.custom-login {
    height: 100%;
}
@media (max-width: 480px) {
    .custom-login {
        height: 500px;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .custom-login {
        height: 450px;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .custom-login {
        height: 380px;
    }
}

@media (min-width: 1200px) and (max-width: 1919px){
    .custom-login {
        height: 400px;
    }
}
/*Fine Accedi*/


/*Invio Mail*/
.background-contact{
    background-image: url(/public/media/sfondocontattaci.jpg);
    background-position: center;
    background-size: cover;
    height: 150vh;
}

.w-input{
    width: 49%;
    margin-left: -2vw;
}

.blur-form {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(8px);
}

.blur-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: -1;
}
/*Fine Invio Mail*/


/*Footer*/
footer {
    padding: 0;
    margin: -12px;
    height: 25vh;
    background-image: url(/public/media/toad.jpg);
    background-position: center;
    background-size: 1200px auto;
    position: relative;
    background-repeat: no-repeat;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

footer * {
    position: relative;
    z-index: 2;
}

.container-fluid-footer {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

/*Overlay*/
.overlay-div {
    position: absolute;
    top: 90px;
    left: 40%;
    transform: translateX(-43%);
    width: 54%;
    height: 2px;
    background-color: white;
    z-index: 10;
}
/*Fine Overlay*/

/*Media Query Footer*/
@media (max-width: 480px) {
    footer {
        background-size: 100%;
    }

    .overlay-div {
        position: absolute;
        top: 50px;
        left: 42%;
        transform: translateX(-45%);
        width: 62%;
        height: 2px;
        background-color: white;
        z-index: 10;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    footer {
        background-size: 100%;
    }
    .overlay-div {
        position: absolute;
        top: 50px;
        left: 42%;
        transform: translateX(-45%);
        width: 60%;
        height: 2px;
        background-color: white;
        z-index: 10;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    footer {
        background-size: 100%;
        margin: -12px;
        padding: 30px 0;
        min-height: 36vh;
    }
    .overlay-div {
        position: absolute;
        top: 10vh;
        left: 42%;
        transform: translateX(-45%);
        width: 62%;
        height: 2px;
        background-color: white;
        z-index: 10;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    footer {
        background-size: 100%;
        padding: 50px 0;
        min-height: 35vh;
    }
    .overlay-div {
        position: absolute;
        top: 7vh;
        left: 42%;
        transform: translateX(-45%);
        width: 56%;
        height: 2px;
        background-color: white;
        z-index: 10;
    }
}

@media (min-width: 1200px) and (max-width: 1919px) {
    footer {
        background-size: 100%;
        margin: -12px;
    }
    .overlay-div {
        position: absolute;
        top: 50px;
        left: 41%;
        transform: translateX(-45%);
        width: 57%;
        height: 2px;
        background-color: white;
        z-index: 10;
    }
}

@media (min-width: 1920px) {
    footer {
        background-size: 100%;
    }
    .overlay-div {
        position: absolute;
        top: 50px;
        left: 41%;
        transform: translateX(-45%);
        width: 55%;
        height: 2px;
        background-color: white;
        z-index: 10;
    }
}
/*Fine Media Query Footer*/

footer .fab, .footer-text {
    color: white;
}
/*Fine Footer*/

/*Edit Alert*/
.custom-alert{
    margin-bottom: 0;
}
/*Fine Edit Alert*/


/*Carousel*/
.carousel-item img {
    height: 60vh;
    width: 80%;
}

.carousel-item-fontcustom {
    font-family: 'Nabla', cursive;
}

@media (max-width: 480px) {
    .carousel-item img {
        height: 30vh;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .carousel-item img {
        height: 40vh;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .carousel-item img {
        height: 40vh;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .carousel-item img {
        height: 33vh;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .carousel-item img {
        height: 55vh;
    }
}

@media (min-width: 1200px) and (max-width: 1919px) {
    .carousel-item img {
        height: 70vh;
    }
}

.transparent-blur {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border: none;
}
/*Fine Carousel*/